<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pic-Plus-Post</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Crete+Round&family=Fugaz+One&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/cssFile/login.css">
</head>
<body>
    <form method="post" action="/password_changed">
        <div class="box">
            <div class="head"><p>Restore Your Password</p></div>
            <div class="allInput">
                <input class="inputs" name="username" placeholder="Enter User Name" required>
                <input class="inputs" name="email" placeholder="Enter Your E-mail" required>
                <input class="inputs" name="password" placeholder="Enter New Password" type="password" required>
                <button class="submit">Change Password</button>
            </div>
        </div>
    </form>
</body>
</html>