<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pic-Plus-Post</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Crete+Round&family=Fugaz+One&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/cssFile/login.css">
</head>
<body>
    <form action="/home" method="post">
        <div class="box">
            <div class="head"><p>Log In To Pic-Plus-Post</p></div>
            <div class="allInput">
                <input class="inputs" name="username" placeholder="Enter User Name" required>
                <input class="inputs" name="password" placeholder="Enter Password" type="password" required>
                <button class="submit">Unlock Account</button>
            </div>
            <div class="foot">
                <a href="http://localhost:8080/signin">New User sign Up</a>
                <a href="http://localhost:8080/forgot">Forgot Password?</a>
            </div>
        </div>
    </form>
</body>
</html>