<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Pic-Plus-Post</title>
</head>
<style>
    .hed1{
        margin: 10px auto;
    }
    .mar{
        margin: 30px auto;
    }
    .cent{
        align-items: center;
        text-align: center;
    }
    .btnhome{
        margin: 10px;
    }
</style>
<body>
    <div class="card mar" style="width: 50rem; height: 37rem;border: none; ">
        <img src="/images/404.gif" class="card-img-top" alt="...">
        <div class="card-body cent">
          <h4 class="card-title hed1">Server Error!</h4>
          <h2 class="card-text">Something went wrong! Please try again later...</h2>
          <a href="http://localhost:8080/" class="btn btn-primary btnhome">Go To Home Page</a>
        </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>