*{
    margin: 0;
    padding: 0;
}
#box{
    height: 530px;
    width: 700px;
    background-color: aqua;
    border: 6px solid blue;
    border-radius: 20px;
    margin: 90px auto;
}
.head{
    font-size: 2rem;
    font-family: 'Alata', sans-serif;
    font-weight: 600;
    text-align: center;
    color: blue;
}
.head p{
    margin-top: 15px;
    text-shadow: 1.5px 1.5px red;
}
.allInput{
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.inputs{
    height: 40px;
    width: 570px;
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
    font-family: 'Alata', sans-serif;
}
.submit{
    height: 40px;
    width: 440px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    margin: 20px auto;
    font-family: 'Alata', sans-serif;
}
